In [4]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [12]:
np.random.seed(101)
a = randn(6, 3)
df = pd.DataFrame(a, np.arange(6).tolist(), ['a', 'b', 'c'])

In [13]:
df

          a         b         c
0  2.706850  0.628133  0.907969
1  0.503826  0.651118 -0.319318
2 -0.848077  0.605965 -2.018168
3  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237
5  0.955057  0.190794  1.978757

In [14]:
ser = df.b

In [15]:
ser

0    0.628133
1    0.651118
2    0.605965
3    0.528813
4   -0.758872
5    0.190794
Name: b, dtype: float64

In [16]:
ser.iloc[0] = 100
ser

0    100.000000
1      0.651118
2      0.605965
3      0.528813
4     -0.758872
5      0.190794
Name: b, dtype: float64

In [17]:
df.b = ser
df

          a           b         c
0  2.706850  100.000000  0.907969
1  0.503826    0.651118 -0.319318
2 -0.848077    0.605965 -2.018168
3  0.740122    0.528813 -0.589001
4  0.188695   -0.758872 -0.933237
5  0.955057    0.190794  1.978757

In [18]:
for a in ser:
    print(a, type(a))

100.0 <class 'float'>
0.6511179479432686 <class 'float'>
0.6059653494949336 <class 'float'>
0.5288134940893595 <class 'float'>
-0.758872056210466 <class 'float'>
0.19079432237171562 <class 'float'>

In [19]:
import re

In [21]:
s = 'aaaa<htmlaheahe>123あああ'
result = re.sub(r'(<).+\w(>)', '', s)
result

'aaaa123あああ'

In [22]:
words = []
words.append('test')
words.append('atest')
joined_words = ' '.join(words)
joined_words

'test atest'

In [23]:
words = []
joined_words = ' '.join(words)
joined_words

''

In [24]:
type(True)

bool

In [28]:
s = 'abs'
if 'abs' == s:
    print('exits')
else:
    print('does not exists')

exits

In [33]:
ser = df.c
ser = ser * 2
df['cx2'] = ser
df

          a           b         c       cx2
0  2.706850  100.000000  0.907969  1.815939
1  0.503826    0.651118 -0.319318 -0.638636
2 -0.848077    0.605965 -2.018168 -4.036336
3  0.740122    0.528813 -0.589001 -1.178001
4  0.188695   -0.758872 -0.933237 -1.866474
5  0.955057    0.190794  1.978757  3.957515

In [34]:
from janome.tokenizer import Tokenizer
janome_tokenizer = Tokenizer()

In [36]:
tokens = janome_tokenizer.tokenize('あの屋根の上に人がいる。')
for token in tokens:
    print(type(token))

<class 'janome.tokenizer.Token'>
<class 'janome.tokenizer.Token'>
<class 'janome.tokenizer.Token'>
<class 'janome.tokenizer.Token'>
<class 'janome.tokenizer.Token'>
<class 'janome.tokenizer.Token'>
<class 'janome.tokenizer.Token'>
<class 'janome.tokenizer.Token'>
<class 'janome.tokenizer.Token'>